:root {
	--calendar-width: 100vw;
	--calendar-height: 100vh;
	--days-margin: 0.3rem;
	--days-padding: 0.2rem;
	--primary-color: #00abe1;
	--secondary-color: #161f6d;
	--accent-color: #fecd45;
	--hover-color: #4a83ff;
	--text-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lilita One", sans-serif;
}

html {
	font-size: 62.5%;
}

.container {
	width: 100%;
	height: 100vh;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar {
	width: var(--calendar-width);
	height: var(--calendar-height);
	background-color: var(--primary-color);
	box-shadow: 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month-container {
	width: 100%;
	height: 12rem;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.previous-date,
.next-date {
	font-size: 8rem;
	cursor: pointer;
	margin: 0 5vw;
}

.month {
	font-size: 9rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}

.day-labels {
	width: 100%;
	height: 5rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-top: 4vh;
}

.day-labels div {
	font-size: 4rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	width: calc(var(--calendar-width) / 7);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: var(--days-padding);
}

.days a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 3.5rem;
	margin: var(--days-margin);
	width: calc(
		calc(
				var(--calendar-width) -
					calc(calc(var(--days-margin) * 14) + calc(var(--days-padding) * 2))
			) / 7
	);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
	padding: 6vh;
}

.days a:hover {
	background-color: var(--hover-color);
	opacity: 0.7;
	transition: background-color 0.4s;
	transition: opacity 0.4s;
	cursor: pointer;
}

.previous-date,
.next-date {
	opacity: 0.5;
}

.today {
	background-color: var(--secondary-color);
}
